
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body>
<div>
    firstname : @ViewBag.firstname
    last name : @ViewBag.lastname
    Email     : @ViewBag.email
    password : @ViewBag.password
    conf pass : @ViewBag.confpass
</div>
</body>
</html>
